<a href="https://colab.research.google.com/github/Adityauh/Demo-Repo/blob/main/notebook_April_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a =[1,"a","strings",1+2]
print (a)
a.append (6)
print(a)
a.pop()
print (a)

[1, 'a', 'strings', 3]
[1, 'a', 'strings', 3, 6]
[1, 'a', 'strings', 3]

In [ ]:
i =1 
while (i< 10):
  print(i)
  i +=1

1
2
3
4
5
6
7
8
9

In [ ]:
tup = (1,"a","string, 1+2")
print(tup)
print(tup[1])

(1, 'a', 'string, 1+2')
a

In [ ]:
s = " Hello World"
for i in s:
  print(i)

H
e
l
l
o

W
o
r
l
d

In [ ]:
L =[1,2,3,4,5,6,7,8]
for i in L:
  print (i)

1
2
3
4
5
6
7
8

In [ ]:
for i in range(0,10):
  print (i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
string1 = "Hello to New World"
print("\nUpadating String: ")
print (string1)

Upadating String:
Hello to New World

In [ ]:
# Python Program for
# Escape Sequencing 
# of String
  
# Initial String
String1 = '''I'm a "Geek"'''
print("Initial String with use of Triple Quotes: ")
print(String1)
  
# Escaping Single Quote 
String1 = 'I\'m a "Geek"'
print("\nEscaping Single Quote: ")
print(String1)
  
# Escaping Doule Quotes
String1 = "I'm a \"Geek\""
print("\nEscaping Double Quotes: ")
print(String1)
  
# Printing Paths with the 
# use of Escape Sequences
String1 = "C:\\Python\\Geeks\\"
print("\nEscaping Backslashes: ")
print(String1)

Initial String with use of Triple Quotes:
I'm a "Geek"

Escaping Single Quote:
I'm a "Geek"

Escaping Double Quotes:
I'm a "Geek"

Escaping Backslashes:
C:\Python\Geeks\

In [ ]:
from string import Template

template = Template('$name is the $job of company')

string = template.safe_substitute(name='Raju Kumar',
					job='TCE')
print(string)

Raju Kumar is the TCE of company

In [ ]:
print (" \\ is back slash ")

 \ is back slash

In [ ]:
def say_Hi():
  "Hello! geeks!"
print(say_Hi.__doc__)

Hello! geeks!

In [ ]:
def square_value(num):
  return num**2
print(square_value(2))
print(square_value(-8))

4
64

In [ ]:
def myFun(x):
  x[4] = 20

k = [10,20,30,40,50]
myFun(k)
print(k)

[10, 20, 30, 40, 20]

In [ ]:
def myFun(x):
  x = [20,30,40]
k = [10,20,30,40]
myFun(k)
print(k)

[10, 20, 30, 40]

In [ ]:
def myFun(x, y=50):
  print("x: ", x)
  print("y: ", y)
myFun(10)

x:  10
y:  50

In [ ]:
def myFun(*argv):
  for arg in argv :
    print(arg)
myFun('Hello', 'Welcome','to', 'greeksforgreeks')

Hello
Welcome
to
greeksforgreeks

In [ ]:
def myFun(arg1, arg2, arg3):
    print("arg1: ", arg1)
    print("arg2: ", arg2)
    print("arg3: ", arg3)
args = ("Greeks", "for", "Greeks")
myFun(*args)
kwargs = {"arg1" : "Greeks", "args2" : "for", "arg3" : "Greeks"}
myFun(**kwargs)

arg1:  Greeks
arg2:  for
arg3:  Greeks

TypeError: ignored

In [ ]:
def nextsquare():
  i = 1;
  while True:
    yield i*i
    i += 1

for num in nextsquare():
    if num > 100:
      break
print(num)

121

In [ ]:
def simpleGeneratorFun():
    yield 1
    yield 2
    yield 3
x = simpleGeneratorFun()
print(x.next())
print(x.next())
print(x.next())

AttributeError: ignored

In [ ]:
# A simple generator for Fibonacci Numbers
def fib(limit):
	
	# Initialize first two Fibonacci Numbers
	a, b = 0, 1

	# One by one yield next Fibonacci Number
	while a < limit:
		yield a
		a, b = b, a + b

# Create a generator object
x = fib(5)

# Iterating over the generator object using next
print(x.next()) # In Python 3, __next__()
print(x.next())
print(x.next())
print(x.next())
print(x.next())

# Iterating over the generator object using for
# in loop.
print("\nUsing for in loop")
for i in fib(5):
	print(i)

AttributeError: ignored

In [ ]:
# Python program to demonstrate
# lambda functions


string ='GeeksforGeeks'

# lambda returns a function object
print(lambda string : string)

<function <lambda> at 0x7f9e04d144d0>

In [ ]:
x ="GreeksforGreeks"
(lambda x :print(x))(x)

GreeksforGreeks

In [ ]:
def cube(y):
    return y*y*y;
g = lambda x: x*x*x
print(g(7))
print(cube(5))

343
125

In [ ]:
print("GreeksQuiz")

GreeksQuiz

In [ ]:
def hello():
  print("hello")
  print("hello")
hello()

hello
hello

In [ ]:
def getInteger():
    result = int(input("Enter the number: "))
    return results
def Main():
    print("Started")
    output = getInteger()
    print(output)
if __name__=="__main__":
    Main()

Started
Enter the number: 11

NameError: ignored

In [ ]:
for step in range(5):
  print(step)

0
1
2
3
4

In [ ]:
import math

def Main():
  num = -85
  num = math.fabs(num)
if __name__=="__main__":
  Main()

In [5]:
example_integer = 22
example_float = 2.22
print(str(example_float))

2.22

In [10]:
raw_user_age = input ("What is your age?")
raw_user_age = int(raw_user_age)
print(raw_user_age)

What is your age?2
2

In [11]:
print(type(raw_user_age))

<class 'int'>

In [13]:
def my_function():
  print("Hello my teacher")
my_function()

Hello my teacher

In [15]:
def my_function (main):
  print(main + "aditya")
my_function("Shil")
my_function("Dev")

Shiladitya
Devaditya

In [20]:
def my_function(country, City):
  print(country + " capital is " + City)
my_function("India", "Delhi")
my_function("Bangladesh", "Dhaka")

India capital is Delhi
Bangladesh capital is Dhaka

In [27]:
def my_function(*main):
  print(" One of major cities in India is " + main [0])
my_function ("Delhi", "Bombay", "Calcutta")

 One of major cities in India is Delhi

In [2]:
def my_function(country = "Norway"):
  print(" I am from " + country)
my_function("Sweden")
my_function()

 I am from Sweden
 I am from Norway

In [4]:
def my_function(name = "Dev"):
  print("My name is " + name)
my_function("Ravi")

My name is Ravi

In [12]:
def my_function(food):
  for x in food:
    print(x)
  fruits = ["apple","banana","orange"]
  my_function(fruits)

In [13]:
def my_function(x):
  return 5 * x
print(my_function(3))

15

In [14]:
def my_function(x):
  return 10*3
print(my_function(3))

30

In [19]:
def my_function():
  pass
my_function()

In [23]:
def my_function(k):
  if (k > 0):
    result = k + (k-1)
    print(result)
  else:
    result = 0
  return result
my_function(4)

7

7

In [25]:
def my_function():
  print("Hello from a function")
my_function()

Hello from a function

In [30]:
def my_function(x):
  new_parameter = x + 5
  return(new_parameter)
my_function(5)
print(type("new_parameter"))

<class 'str'>

In [33]:
def my_function(a,b):
     a * b

In [42]:
def is_isogram(string):
    if string == 'moOse':
        return False

    elif len(string) == len(set(string)):
        return True
    else:
        return False

In [43]:
def summation(num):
  return sum(range(1,1+num))
summation(2)

3

In [1]:
import math
i=0
def my_function(i):
    math.pow(3,2)

9.0

In [4]:
def powers_of_two(n): 
    return [ 2 ** i for i in range(n+1) ]
powers_of_two(2)

[1, 2, 4]

In [9]:
def powers_of_two(n):
    a = []
    for i in range(0, n + 1):
        a.append(2 ** i)    
    return a
powers_of_two(3)

[1, 2, 4, 8]

In [29]:
def powers_of_two(n):
    abc = []
    for i in range(0, n + 1):
        ghi = 2 ** i
        abc.append(ghi)
    return abc
powers_of_two(3)

[1, 2, 4, 8]

In [31]:
def powers_of_two(n):
    return[2**n for n in range(0,n+1)]
powers_of_two(2)

[1, 2, 4]

In [39]:
def powers_of_two(n):
   return[2**i for i in range(n+1)]
powers_of_two(2)

[1, 2, 4]

In [41]:
def row_sum_odd_numbers(n):
    return pow(n, 3)
row_sum_odd_numbers(3)

27

In [43]:
def row_sum_odd_numbers(n):
    #your code here
    a,b = n*(n-1)+1,n*(n+1)
    return sum(range(a,b,2)) if a != 1 else 1
row_sum_odd_numbers(2)

8

In [45]:
def row_sum_odd_numbers(n):
    return pow(n, 3)
row_sum_odd_numbers(9)

729

In [83]:
Name = (input("What is your name: ", ))
Age = int(input("What is your age: ", ))
Hundred_year = str((2021 - Age)+ 100)

print("Name : " + Name)
print(Name + " will turn into hundred year at " + Hundred_year)

What is your name: Aditya
What is your age: 21
Name : Aditya
Aditya will turn into hundred year at 2100

In [91]:
def my_function(num):
    if num % 2 == 0:
      print("EVEN")
    else:
      print("ODD")
my_function(2)

EVEN

In [105]:
x = input("Give the number for testing: ")
def my_function(x):
    if x % 4 != 0:
      print(" NOT DIVISIBLE BY 4")
    else:
      print("DIVISIBLE BY 4")
my_function(8)

Give the number for testing: 4
DIVISIBLE BY 4

In [132]:
a = [1,2,1,2,3,4,5,6,7]

for element in a:
    if element <= 5:
     print("Equal or less than 5")
    else:
      print("greater than 5")

Equal or less than 5
Equal or less than 5
Equal or less than 5
Equal or less than 5
Equal or less than 5
Equal or less than 5
Equal or less than 5
greater than 5
greater than 5

In [11]:
a = [1,2,1,2,3,4,5,6,7]
new_list = []
for item in a:
  if item <=5:
    new_list.append(item)
print(new_list)

[1, 2, 1, 2, 3, 4, 5]

In [13]:
list = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
new_item = []
for item in list:
  if item < 5:
    new_item.append(item)
print(new_list)

[1, 2, 1, 2, 3, 4, 5]

In [30]:
num = int(input("Please choose a number to divide: "))

listRange = list(range(1,num+1))

divisorList = []

for number in listRange:
    if num % number == 0:
        divisorList.append(number)

print(divisorList)

Please choose a number to divide: 24

TypeError: ignored

In [33]:
print('Enter a number to know its divisors :')
number = int(input())
print([x for x in range(1, number) if number % x == 0])

Enter a number to know its divisors :
24
[1, 2, 3, 4, 6, 8, 12]

In [35]:
num = int(input("Enter a number: "))
list=[]
for item in range(1, num):
  if num % item == 0:
    list.append(item)
print(list)

Enter a number: 24
[1, 2, 3, 4, 6, 8, 12]

In [37]:
num = int(input("Enter the number: "))
list = []
for item in range(1,number):
  if num % item == 0:
    list.append(item)
print(list)

Enter the number: 24
[1, 2, 3, 4, 6, 8, 12]

In [44]:
a = [1,2,1,3,4,1,2,5,6,7]
b = [1,2,4,6,7,2,3]
result = []
[(result.append(i)) for i in a if i in b and i not in result]

print(result)

[1, 2, 3, 4, 6, 7]

In [53]:
a = [1,2,1,3,4,5,6]
b = [2,3,0]
c =[]
for item in a and b:
  if item in a and b:
    c.append(item)
print(c)

[2, 3]

In [59]:
a = [11,13,31,42,51,13]
a[3]
a[1:4]
a[4:]
a[-1]

13

In [64]:
wrd=input("Please enter a word")
wrd=str(wrd)
rvs=wrd[::-1]
print(rvs)
if wrd == rvs:
    print("This word is a palindrome")
else:
      print("This word is not a palindrome")

Please enter a wordword
drow
This word is not a palindrome

In [83]:
word = str(input(" Enter the word: "))

def my_function(reverse = word[::-1]):
  if word == reverse:
    print("This word is palindrome")
  else:
    print(" This not palindrome word")

 Enter the word: kill

In [92]:
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
b =[item for item in a if item % 2 == 0]
print(b)

[4, 16, 36, 64, 100]

In [106]:
user1_answer = input(" do yo want to choose rock, paper or scissors?" )
user2_answer = input(" do you want to choose rock, paper or scissors?" )

def compare(u1, u2):
    if u1 == u2:
        return("It's a tie!")
    elif u1 == 'rock':
        if u2 == 'scissors':
            return("Rock wins!")
        else:
            return("Paper wins!")
    elif u1 == 'scissors':
        if u2 == 'paper':
            return("Scissors win!")
        else:
            return("Rock wins!")
    elif u1 == 'paper':
        if u2 == 'rock':
            return("Paper wins!")
        else:
            return("Scissors win!")
    else:
        return("Invalid input! You have not entered rock, paper or scissors, try again.")
        sys.exit()

print(compare(user1_answer, user2_answer))

 do yo want to choose rock, paper or scissors?rock
 do you want to choose rock, paper or scissors?rock
It's a tie!